/* html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
} */

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
}

.trybewarts-login {
  display: flex;
}

main {
  display: flex;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

#trybewarts-forms-logo {
  height: 500px;
}

#full-name {

}

#email-select {
  display: flex;
}

/* #radio-conteiner {
  border: 1px solid red;
} */

#radio-family {
  display: flex;
  flex-direction: column;
}

