* {
  margin: 0;
}

.header {
  display: flex;
  max-height: min-content;
  background-color: rgb(50, 167, 145);
  padding: 10px 20px;
  justify-content: space-between;
  align-items: center;
}

.trybewarts-header-logo {
  height: 50px;
}

#trybewarts-header-title {
  color: white;
}

.trybewarts-login {
  display: flex;
}

#btn-login {
  background-color: rgb(78, 7, 110);
  color: white;
}

#dadTitle {
  width: 675px;
}

#title-form {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: center;
  margin-left: 10%;
}

main {
  display: flex;
  padding: 0 20px;
  justify-content: space-between;
  align-items: center;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
  padding: 10px 50px;
}

#full-name {
  display: flex;
}

#input-name , #input-lastname , #input-email {
  display: flex;
  width: 45%;
  margin: 5px;
}

#house-container {
  display: flex;
  width: 46.25%;
  margin: 5px;
}

#email-select {
  display: flex;
}

#house {
  height: 100%;
  width: 100%;
  align-items: center;
}

#house1 {
  display: flex;
  align-items: center;
  margin-right: 5px;
}

#radio-checkbox {
  display: flex;
}

#radio-family {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

#radio-container {
  margin: 5px;
}

#checkbox-container {
  margin-left: 65px;
  margin-top: 5px;
}

#checkbox-family {
  display: flex;
}

#checkbox1 , #checkbox2 {
  width: 50%;
  margin: 5px;
}

#label-rate {
  margin: 5px;
}

.radio-grade {
  margin-left: 8px;
}

#container-text-area {
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#counter {
  position: absolute;
  justify-self: flex-end;
  align-self: flex-end;
  margin-right: 70px;
}

#textarea {
  width: 95%;
}

#label-infos , #terms {
  margin: 5px;
  margin-bottom: 30px;
}

#submit-btn {
  padding: 5px;
  margin: 5px;
  width: 95%;
  background-color: rgb(78, 7, 110);
  color: white;
  margin-bottom: 3%;
  justify-content: center;
}

#trybewarts-forms-logo {
  height: 500px;
}

#footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 0.5%;
}

